<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
        <h1>My First HTML Page</h1>
            <p>My name is Titus Liu and this is my <strong>first</strong> html page. I'm excited to learn more
                about the language. While the language seems easy to learn, I'm sure there are <em>plenty</em>
                of challenges I haven't encountered yet.
            </p>

        <h2>About My Programming Skills</h2>
            <p>My programming skills are not that strong, but I am <strong>dedicated</strong> to improving my skills.
                With so much to learn, it can be pretty daunting, but I am sure I can excel. Succeeding in <em>this</em>
                language will give me an important tool to use in my professional career.
            </p>
        <h2>About This Page</h2>
        <p>Favorite Courses</p>
        <ul>
            <li>BMGT 442F Spring 2022</li>
            <li>BMGT 380 Spring 2021</li>
            <li>BMGT 444 Spring 2022</li>
        </ul>
        <p>Favorite Courses</p>
        <ol>
            <li>BMGT 442F Spring 2022</li>
            <li>BMGT 380 Spring 2021</li>
            <li>BMGT 444 Spring 2022</li>
        </ol>
        <p>The link to my hello.html page <a href="https://titusliu324.pythonanywhere.com/">Hello Page
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
                 width="267" height="72" alt="Smith Logo"/></a>
        </p>
        <p>Link to <a href="https://www.youtube.com/">Youtube</a></p>
        <p>Link to <a href="https://www.testudo.umd.edu/" target="_blank">Testudo</a></p>
    </body>
</html>