<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
        <h1>My First HTML Page</h1>
            <p>My name is Titus Liu and this is my <strong>first</strong> html page. I'm excited to learn more
                about the language. While the language seems easy to learn, I'm sure there are <em>plenty</em>
                of challenges I haven't encountered yet.
            </p>

        <h2>About My Programming Skills</h2>
            <p>My programming skills are not that strong, but I am <strong>dedicated</strong> to improving my skills.
                With so much to learn, it can be pretty daunting, but I am sure I can excel. Succeeding in <em>this</em>
                language will give me an important tool to use in my professional career.
            </p>
        <h2>About This Page</h2>
        <!-- My favorite courses ordered by semester -->
        <p>Favorite Cuisines</p>
        <ul>
            <li>Japanese</li>
            <li>Thai</li>
            <li>Italian</li>
        </ul>
        <p>Favorite Countries</p>
        <ol>
            <li>Japan</li>
            <li>Italy</li>
            <li>France</li>
        </ol>
        <table>
            <tr>
                <th>Courses</th>
                <th>Semester</th>
            </tr>
             <tr>
                <td>BMGT444</td>
                <td>Spring 2022</td>
            </tr>
             <tr>
                <td>BMGT 380</td>
                <td>Spring 2021</td>
            </tr>
             <tr>
                <td>BMGT 313</td>
                <td>Spring 2022</td>
            </tr>
        </table>
        <!-- My links to my about.html page -->
        <p>The link to my hello.html page <a href="https://titusliu324.pythonanywhere.com/hello">Hello Page</a>
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo"/>
        </p>
        <!-- My links to my favorite sites -->
        <p>Link to <a href="https://www.youtube.com/">Youtube</a></p>
        <p>Link to <a href="https://www.testudo.umd.edu/" target="_blank">Testudo</a></p>
    </body>
</html>